/* 공통요소들 적는곳 */

body{
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

div{
    box-sizing: border-box;
}